.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
  height: 200px;
}

.card img {
  width: 360px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}
